*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 255, 255, 0.63);
}

header{
    display: flex; /*organiza logo y menu en una fila*/
    justify-content: space-between; /*separa logo a izq y menú derech*/
    align-items: center; /*centra verticalmente*/
    position: sticky; /*fijo al hacer scroll*/
    top: 0; /*posición fija en la parte superior*/
    width: 100%; /*ocupar todo el ancho*/
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); /*sombra inferior*/
    z-index: 100; /*asegura que se queda encima de los elemenos*/
}

#logotipo{
    width: 70px;
    margin: 10%;
}

header nav{
    width: 70%;
}

header nav ul{
    display: flex; /*links en fila*/
    list-style: none; /*quita los puntos de enlaces*/
    gap: 30px; /*espacio entre enlaces*/
}

header a{
    color:red;
    text-decoration: none; /*sin subrayado*/
    font-size: 1.5rem;
    font-family: monospace;
}

#fondoprincipal{
    background: url(img/background/IMG_7440-scaled.jpg);
    padding-top: 20%;
    opacity: 80%;
    background-size: cover;
}

/*---titulos-----*/


h1{
    background-color: black;
    color:whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1.masvendidos{
    background-color: transparent;
    background-color:crimson;
    margin: 5%;
    padding-top: 3%;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    margin: 10%;
    background-color: black;
    color:whitesmoke;
    align-self: center;
    font-size: 2rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2.masvendidos{
    margin: 10%;
    background-color: transparent;
    color: black;
    font-family: monospace;
    font-size: 1.5rem;
}
h3{
    padding-left: 3%;
    font-size: 1rem;
    font-family: monospace;
}
h4{
    padding-left: 3%;
    font-size: 1rem;
    font-family: monospace;
}


/* ------- seccion albumenvendidos-------*/
.masvendidos {
    padding: 20px;
    text-align: center;
}

.masvendidos h2 {
    margin-bottom: 25px;
}

/* Contenedor grid */
.albumesvendidos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* separa los elementos */
}

/* Cada item */
.vendido {
    background: whitesmoke; /*fondo blanco*/
    padding: 10px; /*espacio por dentro*/
    border-radius: 8px; /*borde redondeado*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07); /*sombra suave*/
    width: calc(25% - 20px);
    text-align: center;
    /* transition: transform .2s ease, box-shadow .2 ease; */
}

/* Imágenes igualadas */
.vendido img {
    width: 100%;
    height: 350px; /* ajusta esta altura a tu gusto */
    object-fit: cover; /* evita que se deformen */
    border-radius: 6px;
}

/* --------seccion albumesvendidos-----FIN--*/

/* -----seccion rebajas -------INICIO------*/
.rebajas {
    padding: 20px;
    text-align: center;
    gap: 25px; /*espacio entre tarjetas*/
}

.rebajas h2 {
    margin-bottom: 25px;
}

/* Contenedor grid */
.albumesrebajas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* separa los elementos */
}

/* Cada item */
.barato {
    width: calc(25% - 20px);
    text-align: center;
}

/* Imágenes igualadas */
.barato img {
    width: 100%;
    height: 310px; /* ajusta esta altura a tu gusto */
    object-fit: cover; /* evita que se deformen */
    border-radius: 4px;
}
/* ------seccion rebajas ---------FIN -----*/

.infoPag p{
    margin: 10%;
}
p{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*------ seccion noticias-------INICIO----*/
#rosalia{
    width: 100%;
    align-items: center;
}
#albumLUX{
    padding: 10%;
    align-items: center;
    background-color: whitesmoke;
}
#kanyeWest{
    padding: 10%;
    background-color:darksalmon;
}
#kanyeWest div{
    display: flex;
    flex-direction: row;
}
#Kanye{
    width: 30%;
    padding-right: 5%;
    padding-bottom: 5%;
}
/*-----seccion noticias ---FIN--- */