*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(202, 225, 255, 0.63);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
#logotipo{
    width: 80px;
    padding-left: 0%;
    margin: 20%;
}
header nav{
    width: 60%;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content:space-around;
    list-style: none;
    padding-right: 20%;
}
header a{
    color:rgba(100, 148, 237, 0.637);
    text-decoration: none;
    font-size: 1.5rem;
}
#fondoprincipal{
    background: url(img/dia-mundial-de-la-bicicleta-albert-hoffmann.jpeg);
    padding-top: 20%;
    opacity: 90%;
}
h1{
    margin: 10%;
    color: cornsilk;
    align-items: center;
}
h2{
    margin: 10%;
    font-family: monospace;
    font-size: 1.5rem;
}
#rosalia{
    width: 100%;
    align-items: center;
}
#albumLUX{
    padding: 10%;
    align-items: center;
}
#kanyeWest{
    padding: 10%;

}
#kanyeWest div{
    display: flex;
}
#kanyeWest p{
    width: 20%;
}
#Kanye{
    width: 30%;
}
p{
    font-size: 1.5rem;
}