*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(255, 255, 255, 0.63);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
#logotipo{
    width: 80px;
    padding-left: 0%;
    margin: 20%;
}
header nav{
    width: 60%;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content:space-around;
    list-style: none;
    padding-right: 20%;
}
header a{
    color:red;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: monospace;
}
#fondoprincipal{
    background: url(img/background/IMG_7440-scaled.jpg);
    padding-top: 20%;
    opacity: 80%;
    background-size: cover;
}
h1{
    background-color: black;
    color:whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1.novedades{
    background-color: transparent;
    background-color:crimson;
    margin: 5%;
    padding-top: 3%;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    margin: 10%;
    background-color: black;
    color:whitesmoke;
    align-self: center;
    font-size: 2rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2.novedades{
    margin: 10%;
    background-color: transparent;
    color: black;
    font-family: monospace;
    font-size: 1.5rem;
}
h3{
    padding-left: 3%;
    font-size: 1rem;
    font-family: monospace;
}
h4{
    padding-left: 3%;
    font-size: 1rem;
    font-family: monospace;
}
.nuevosdiscos{
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#rosalia{
    width: 100%;
    align-items: center;
}
#albumLUX{
    padding: 10%;
    align-items: center;
    background-color: whitesmoke;
}
#kanyeWest{
    padding: 10%;
    background-color:darksalmon;
}
#kanyeWest div{
    display: flex;
    flex-direction: row;
}
#Kanye{
    width: 30%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.infoPag p{
    margin: 10%;
}
p{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}